services:
  # PostgreSQL Database
  postgres:
    image: postgres:16-alpine
    container_name: joynt_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: joynt_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - joynt_network

  # pgAdmin
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: joynt_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - joynt_network
    depends_on:
      - postgres

  # NestJS Application
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: joynt_nest_app
    restart: always
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      NODE_ENV: production
    networks:
      - joynt_network
    depends_on:
      - postgres

volumes:
  postgres_data:
  pgadmin_data:

networks:
  joynt_network:
    driver: bridge
